TELEGRAM_BOT_TOKEN=123456:replace_me
TELEGRAM_ALLOWED_USER_IDS=123456789
TT_CONTAINER_NAME=trusttunnel
TT_ENDPOINT_ADDRESS=my.host.net:443
TT_CREDENTIALS_PATH=/opt/trusttunnel/credentials.toml
TT_VPN_CONFIG_PATH_IN_CONTAINER=/trusttunnel_endpoint/vpn.toml
TT_HOSTS_CONFIG_PATH_IN_CONTAINER=/trusttunnel_endpoint/hosts.toml
